.header {
    display: flex;
    flex-direction: row;
    margin-left: 8px;
    width: 99%;
    min-width: 720px;
    height: 40px;
    align-items: center;
    justify-content: end;
    border-bottom: 1px solid #82828a;
}

.level {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 110px;
    width: 110px;
    margin-left: 8px;
}

.label {
    margin-left: 8px;
    margin-right: auto;
    min-width: 120px;
}

.num {
    width: 140px;
    margin-right: 8px;
}