.mainTable {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  color: rgb(180, 180, 180);
  min-width: 500px;

  .content {
    display: flex;
    width: 100%;
    min-width: 500px;
  }
}
